POSTGRES_DB=noxa_bank
POSTGRES_USER=noxa
POSTGRES_PASSWORD=noxa_password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak_password